<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>users</title>
</head>
<body>
<main>
    <header>
        <img th:src="@{/images/full_dex.jpg}" src="../static/images/full_dex.jpg" alt="pokédex banner">
        <h1><span>Pokédex</span></h1>
    </header>

    <nav>
        <ul>
            <li><a th:href="@{/index}" href="index.html">Home</a></li>
            <li><a th:href="@{/register}" href="register.html">Register</a></li>
            <li><a th:href="@{/profile}" href="profile.html">Profile</a></li>
            <li><a th:href="@{/pokemon}" href="pokemon.html">Pokemon</a></li>
            <li><a th:href="@{/pokedex}" href="pokedex.html">Pokédex</a></li>
        </ul>
    </nav>

    <article>
        <p>There are <span th:text="${users.size()}">#0</span> users registered to the site</p>

        <table>
            <tr th:each="pokedexUser : ${users}">
                <td th:text="${pokedexUser.firstName}">#firstName</td>
                <td th:text="${pokedexUser.lastName}">#lastName</td>
                <td th:text="${pokedexUser.email}">#email</td>
            </tr>
        </table>
    </article>

    <footer>
        &copy; James Brown 2019
    </footer>
</main>
</body>
</html>
